export("*")

export(cmp,chisq,pval,chisq.cmp,sdev,nu,parametric_bootstrap,parametric_bootstrap.cmp,nu.cmp,sdev.cmp,pval.cmp,leverage,leverage.cmp,deviance.cmp,predict.cmp,residuals.cmp)
S3method(chisq, cmp)
S3method(deviance, cmp)
S3method(leverage, cmp)
S3method(nu, cmp)
S3method(parametric_bootstrap, cmp)
S3method(predict, cmp)
S3method(pval, cmp)
S3method(residuals, cmp)
S3method(sdev, cmp)
S3method(summary, cmp)
S3method(print, cmp)
S3method(logLik, cmp)
S3method(AIC, cmp)
S3method(BIC, cmp)

export(zicmp)
export(pcom)
export(r.zi.compoisson)
export(d.zi.compoisson)
export(p.zi.compoisson)
S3method(summary, zicmp)
S3method(print, zicmp)
S3method(logLik, zicmp)
S3method(AIC, zicmp)
S3method(BIC, zicmp)
S3method(coef, zicmp)
S3method(nu, zicmp)
S3method(predict, zicmp)
S3method(residuals, zicmp)
S3method(sdev, zicmp)

import(stats)
import(compoisson)
